<section id="app">
    <header>
        <h1>Connect 4</h1>
    </header>
    <article>
        {{outlet}}
    </article>
    <footer>
        <div class="float-left">
            | by Olivia Anderson - 23885831
        </div>
        <div class="float-right">
            created using <a href="https://www.emberjs.com/">Ember</a> |
        </div>
    </footer>
</section>